
annotated-doc
annotated-types 
anyio  
argon2-cffi  
argon2-cffi-bindings 
certifi 
cffi  
charset-normalizer  
click  
colorama  
cryptography  
distro 
dotenv  
ecdsa 
fastapi 
google-auth 
google-genai 
greenlet
groq  
h11 
httpcore  
httpx      
idna 
jiter    
joblib   
jsonpatch                
jsonpointer             
langchain-core           
langchain-protocol       
langchain-text-splitters 
langsmith               
narwhals                
numpy                    
openai                   
orjson                   
packaging                
pandas                   
pdfminer.six             
pdfplumber              
pillow                   
pip                      
psycopg2                
pwdlib                 
pyasn1                  
pyasn1_modules           
pycparser                
pydantic                 
pydantic_core           
pypdfium2                
python-dateutil          
python-dotenv            
python-jose            
python-multipart         
PyYAML                  
requests               
requests-toolbelt       
rsa                    
scikit-learn          
scipy              
six                    
sniffio                
SQLAlchemy             
starlette               
tenacity                
threadpoolctl          
tqdm                  
typing_extensions      
typing-inspection       
tzdata                  
urllib3               
uuid_utils              
uvicorn                  
websockets              
xxhash                  
zstandard   
pytesseract         